
module.exports = {

    node_ip: '172.22.0.1', // default IP of unconfigured node
    node_port: 22, // default ssh port of unconfigured node
    node_user: 'root', // default user for unconfigured node
    node_password: 'mestheplanet' // default password for unconfigured node

}


